{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        new Chart(document.getElementById('statsChart'), {
            type: 'line',
            data: {
                labels: [
                    {{ stats.headerString|raw }}
                ],
                datasets: [
                    {{ stats.topTenLines|raw }}
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Statistics for {{ dateTime|date('d m Y') }}'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                minute: 'h:mm'
                            }
                        }
                    }]
                }
            }
        });

        new Chart(document.getElementById('diffChart'), {
            type: 'line',
            data: {
                labels: [
                    {{ diffChart.headerString|raw }}
                ],
                datasets: [
                    {{ diffChart.data|raw }}
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Daily results for "the last 30 days"'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                minute: 'h:mm'
                            }
                        }
                    }]
                }
            }
        });

        new Chart(document.getElementById('kukuChart'), {
            type: 'line',
            data: {
                labels: [
                    {{ stats.kukuHeaderString|raw }}
                ],
                datasets: [
                    {{ stats.kukuDataString|raw }}
                ]
            },
            options: {
                title: {
                    display: true,
                    text: '"Kuku"\'s statistics for {{ dateTime|date('d m Y') }}'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: { displayFormats: { minute: 'h:mm' }}
                    }]
                }
            }
        });

        setTimeout(function(){
            window.location.reload(1);
        }, 60000);

        //$('#datepicker').datepicker();

    </script>

{% endblock %}

{% block body %}
    <form id="dateSelect">
        <label for="showdate">Date</label>
        <input name="showdate" id="showdate" value="{{ dateTime|date('Y-m-n') }}" class="js-datepicker" data-date-format="yyyy-mm-dd" onchange="$('#dateSelect').submit()">
    </form>

    <div class="row">
        <div class="col-sm-4">
            <table class="table table-condensed table-striped">
                <tr>
                    <th class="text-center">#</th>
                    <th>Name</th>
                    <th class="text-right">Start</th>
                    <th class="text-right">End</th>
                    <th class="text-right">Diff</th>
                </tr>
                {% set rank = 0 %}
                {% for name, data in toptenDiff %}
                    {% set rank = rank + 1 %}
                    <tr>
                        <td class="text-center">{{ rank }}</td>
                        <td>{{ name }}</td>
                        <td class="text-right">{{ data.start|price }}</td>
                        <td class="text-right">{{ data.end|price }}</td>
                        <td class="text-right">{{ data.diff|price }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No TopTen file found</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-4">
            <canvas id="statsChart" width="400" height="200"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="kukuChart" width="200" height="100"></canvas>
        </div>
    </div>

    <canvas id="diffChart" width="200" height="100"></canvas>

{% endblock %}
