{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        new Chart(document.getElementById('statsChart'), {
            type: 'line',
            data: {
                labels: [
                    {{ stats.headerString|raw }}
                ],
                datasets: [
                    {{ stats.topTenLines|raw }}
                ]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                minute: 'h:mm'
                            }
                        }
                    }]
                }
            }
        });

        new Chart(document.getElementById('kukuChart'), {
            type: 'line',
            data: {
                labels: [
                    {{ stats.kukuHeaderString|raw }}
                ],
                datasets: [
                    {{ stats.kukuDataString|raw }}
                ]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                minute: 'h:mm'
                            }
                        }
                    }]
                }
            }
        });

        setTimeout(function(){
            window.location.reload(1);
        }, 60000);
    </script>

{% endblock %}

{% block body %}
    <table class="table table-condensed table-striped">
        <tr>
            <th colspan="2">Name</th><th>Start</th><th>End</th><th>Diff</th>
        </tr>
        {% set rank = 0 %}
        {% for name, data in toptenDiff %}
            {% set rank = rank + 1 %}
            <tr>
                <td>{{ rank }}</td>
                <td>{{ name }}</td>
                <td>{{ data.start }}</td>
                <td>{{ data.end }}</td>
                <td>{{ data.diff }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No TopTen file found</td>
            </tr>
        {% endfor %}
    </table>

    <canvas id="kukuChart" width="200" height="100"></canvas>
    <canvas id="statsChart" width="400" height="200"></canvas>

{% endblock %}
