{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        new Chart(document.getElementById('statsChart'), {
            type: 'line',
            data: {
                labels: [
                    {{ stats.headerString|raw }}
                ],
                datasets: [
                    {{ stats.topTenLines|raw }}
                ]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            displayFormats: {
                                minute: 'h:mm'
                            }
                        }
                    }]
                }
            }
        });

        setTimeout(function(){
            window.location.reload(1);
        }, 60000);
    </script>

{% endblock %}

{% block body %}
    <table>
        {% for name, score in topten %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ score }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No TopTen file found</td>
            </tr>
        {% endfor %}
    </table>

    <canvas id="statsChart" width="400" height="200"></canvas>

{% endblock %}
